@media only screen and (max-width: 600px) {
    
    
.container {
    width: 94%;
    margin: 3% auto;
  }
  
  .navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar img {
    width: 30%;
  }
  
  
  
  .block-1 .main-block {
    border-radius: 25px; 
    background: linear-gradient(to right, #231F2095, #780F2A95, #CB003395, #CB003395), url("../assets/images/01.png");
    background-repeat: no-repeat;
    background-size: 140% 110%;
    background-position: center;
    padding: 10% 6%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
  }
  
  .block-1 .block-content {
    color: #fff;
  }
  
  .block-1 .block-content h1 {
    font-size: 25px; 
    margin: 10px 0 !important;
  }
  
  .block-1 .block-content p {
    font-size: 14px;
    font-weight: normal;
    width: 80%;
  }
  
  .block-1 .block-action {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .block-1 .block-action a {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
  }

  .block-1 .block-action img {
    width: 30%;
    opacity: .8;
    transition: all .5s ease-in-out;
    cursor: pointer;
    margin-right: 10%;
  } 
  
  .block-1 .block-action img:hover {
    opacity: 1;
  }
  
  
  
  .block-2 .main-block {
    margin: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;

    width: 100%;
    background-color: #B71D34;
    overflow: hidden;
    color: #fff;
    box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
  }
  
  
  .block-2 .main-block .custom-btn {
    width: 50%;
    padding: 4% 2% ;
    font-size: 13px;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
  }
  
  .block-2 .main-block .custom-btn.active {
    background-color: #fff;
    color: #B71D34;
    border-radius: 50px;
  }
  
  
  
  
  
  /* BLOCK 3 */
  /* BLOCK 3 */
  /* BLOCK 3 */
  /* BLOCK 3 */
  /* BLOCK 3 */
  
  
  .block-3 .main-block  {
      display: flex;
      justify-content: space-between;
      padding: 20px;
        border-radius: 25px; 
      box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
    }
    
    .block-3 .gear-note {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
    
    }
    
    .block-3 .gear-note img {
      width: 80%;
    } 
    
    .block-3 .gear-note .note {
        background-color: #B71D34;
        color: #fff;
        padding: 3px 6px;
        font-size: 9px ;
        border-radius: 20px;
        margin-left: -23%;
        margin-top: 20px;
      }
    
    
    .block-3 .block-content {
      background-image: url("../assets/images/02.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      width: 55%;
    }
    
    .block-3 .info-list-item {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 4px 0;
      height: fit-content;
    }
    
    .block-3 .info-list-item .icon {
      margin-right: 20px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8%;
    }
    
    .block-3 .info-list-item .icon img {
      height: 50%;
    }
    
    .block-3 .info-list-item span {
      width: 80%;
      font-size: 12px;
    }
    
    .block-3 .info-list-item .dot {
      background-color: #000;
      border-radius: 50%;
      width: 14px;
      height: 10px;
      margin-left: 20%;
    }
    
    
    .block-3 .info-list-item .dot.green {
      background-color: green;
    }
    .block-3 .info-list-item .dot.red {
      background-color: #B71D34;
    }
    
    .block-3 .result {
      color: #303C59;
    }


    

        
.block-3 .block-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%
  }
  
  .block-3 .block-footer p {
    width: 80%;
    font-size: 12px;
    padding: 5px;
  }
  
  .block-3 .block-footer a {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .block-3 .block-footer img {
    width: 40%;
    filter: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
  }
  
  
  
  
  .block-4 .main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
    width: 100%;
  }
  
  .block-4 .custom-btn {
    width: 42%;
    padding: 10% 3% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242323;
    border-radius: 20px;
  }
  
  .block-4 .custom-btn.active {
    background-color: #B71D34;
  }
  
  .block-4 .custom-btn img {
    width: 40%;
  }
  
  .block-4 .custom-btn span {
    font-size: 2.2vh;
    margin-left: 2%;
  }

  
  /* BLOCK 5 */
  /* BLOCK 5 */
  /* BLOCK 5 */
  /* BLOCK 5 */
  /* BLOCK 5 */

  
  .block-5 .main-block {
    margin: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;

    width: 100%;
    background-color: #B71D34;
    overflow: hidden;
    color: #fff;
    box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
  }
  
  
  .block-5 .main-block .custom-btn {
    width: 50%;
    padding: 4% 2% ;
    font-size: 13px;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
  }
  
  .block-5 .main-block .custom-btn.active {
    background-color: #fff;
    color: #B71D34;
    border-radius: 50px;
  }
  
  
  .block-5 .main-block img {
    height: 25px;
  }


  .customer-details .main-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .customer-details .user-profile {
    width: 35%;
  }

  .customer-details .user-profile .profile-pic{
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 5%;
  }

  .customer-details .user-profile .profile-pic img {
    width: 100%;
  }

  .customer-details .user-profile p {
    width: 95%;
    font-size: 8px;
  }

  .customer-details .welcome-msg {
    color: #B71D34;
    font-size: 20px;
  } 
  .customer-details .details {
    width: 63%;
  }

  .customer-details .details ul {
    margin-top: 15px;
  }

  .customer-details .details li {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 6px;
    width: 100%;
    border-radius: 55px;
    margin-bottom: 3%;
  }

  .customer-details .details .item-left,
  .customer-details .details .item-right {
    display: flex;
    flex-direction: column;
    padding: 2px 4px;
    width: 50%;
  }

  .customer-details .details li label {
    font-size: 11px;
  }

  .customer-details .details li span {
    font-size: 11px;
    letter-spacing: 1.5px;
    font-family: "Toyota Display Regular";
  }



}






















