    
*{
  font-family:"Toyota Display Bold";
  margin:0;
  padding:0;
  list-style:none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F1F1F1;

}

.container {
  width: 70%;
  margin: 2% auto;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar img {
  width: 10%;
}



.block-1 .main-block {
  border-radius: 70px; 
  background: 
  linear-gradient(to right, 
  #030202b0, 
  #47000086, 
  #a304046c, 
  #b90909ab),
  linear-gradient(to right, 
  #030202b0, 
  #47000086, 
  #a304046c, 
  #b90909ab), 
  url("../assets/images/01.png");


  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 8%;
  display: flex;
  justify-content: space-between;
  box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
}

.block-1 .block-content {
  color: #fff;
}

.block-1 .block-content h1 {
  font-size: 65px; 
  margin: 10px 0 !important;
}

.block-1 .block-content p {
  font-size: 18px;
  font-family: "Toyota Display Regular";
  width: 50%;
}

.block-1 .block-action {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.block-1 .block-action a {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.block-1 .block-action img {
  width: 30%;
  opacity: .8;
  transition: all .5s ease-in-out;
  cursor: pointer;
  margin: 0 -5% -15% 0;
} 


.block-1 .block-action img:hover {
  opacity: 1;
}


/* BLOCK 2 */
/* BLOCK 2 */
/* BLOCK 2 */
/* BLOCK 2 */
/* BLOCK 2 */

.block-2 .main-block {
  margin: 120px 0 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  width: 100%;
  background-color: #B71D34;
  overflow: hidden;
  color: #fff;
  box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
}


.block-2 .main-block .custom-btn {
  width: 50%;
  padding: 2%;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.block-2 .main-block .custom-btn.active {
  background-color: #fff;
  color: #B71D34;
  border-radius: 50px;
}



/* BLOCK 3 */
/* BLOCK 3 */
/* BLOCK 3 */
/* BLOCK 3 */
/* BLOCK 3 */

.block-3 .main-block  {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  border-radius: 50px;
  box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
}

.block-3 .gear-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 40%;

}

.block-3 .gear-note img {
  width: 100%;
  margin-top: 12%;
} 

.block-3 .gear-note .note {
  background-color: #B71D34;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.1vw ;
  border-radius: 20px;
  margin-right: 45%;
  margin-top: 20px;
}


.block-3 .block-content {
  background-image: url("../assets/images/02.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 60%;
}

.block-3 .info-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0 ;
  height: fit-content;
}

.block-3 .info-list-item .icon {
  margin-right: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.block-3 .info-list-item .icon img {
  height: 100%;
}

.block-3 .info-list-item span {
  width: 50%;
}

.block-3 .info-list-item .dot {
  background-color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 20%;
}


.block-3 .info-list-item .dot.green {
  background-color: green;
}
.block-3 .info-list-item .dot.red {
  background-color: #B71D34;
}

.block-3 .result {
  color: #303C59;
}


.block-3 .block-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%
}

.block-3 .block-footer p {
  width: 80%;
}

.block-3 .block-footer a {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.block-3 .block-footer img {
  width: 40%;
  filter: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
}




.block-4 .main-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
  width: 100%;
  padding-top: 40px;
}

.block-4 .custom-btn {
  width: 40%;
  padding: 10% 3% ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242323;
  border-radius: 50px;
  text-decoration: none;
}

.block-4 .custom-btn.active {
  background-color: #B71D34;
}

.block-4 .custom-btn img {
  width: 40%;
}

.block-4 .custom-btn span {
  color: #fff;
  font-size: 5.5vh;
  margin-left: 3%;
}



/* BLOCK 5 */
/* BLOCK 5 */
/* BLOCK 5 */
/* BLOCK 5 */
/* BLOCK 5 */

.block-5 .main-block {
  margin: 300px 0 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  width: 100%;
  background-color: #B71D34;
  overflow: hidden;
  color: #fff;
  box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
}


.block-5 .main-block .custom-btn {
  width: 50%;
  padding: 1.5%;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-5 .main-block img {
  height: 40px;
  margin-right: 10px;
}

.block-5 .main-block .list-arrow {
  height: 25px;
  margin-left: 10px;
}

.block-5 .main-block .custom-btn.active {
  background-color: #fff;
  color: #B71D34;
  border-radius: 50px;
}

.customer-details .scroll-to-top {
  margin-top: -60px;
}

.customer-details .main-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0%;
}

.customer-details .user-profile {
  width: 35%;
}

.customer-details .user-profile .profile-pic{
  width: 280px;
  height: 280px;
  border-radius: 20;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15%;
}

.customer-details .user-profile .profile-pic img {
  width: 100%;
}

.customer-details .user-profile p {
  width: 90%;
}

.customer-details .welcome-msg {
  color: #B71D34;
  font-size: 45px;
} 
.customer-details .details {
  width: 60%;
}

.customer-details .details ul {
  margin-top: 15px;
}

.customer-details .details li {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  width: 110%;
  border-radius: 55px;
  margin-bottom: 1.5%;
}

.customer-details .details .item-left,
.customer-details .details .item-right {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 30%;
}

.customer-details .details li label {
  font-size: 20px;
}


.customer-details .details li span {
  letter-spacing: 3px;
  font-family: "Toyota Display Regular" ;
}

.vehicle-status {
  margin-bottom: 50px;
}

.vehicle-status .scroll-to-top {
  margin: -120px 20px 0 0;
}

.vehicle-status p {
  width: 50%;
}

.vehicle-status .block-5 .custom-btn {
  font-family: "Toyota Display regular" !important;
}

.vehicle-status-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.vehicle-status-list a {
  cursor: pointer;
  text-decoration: none;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background-color: #242323;
  height: 150px;
  margin: 10px .5%;
  border-radius: 40px;
  color: #fff;
  opacity: .8;
}

.vehicle-status-list a:hover {
  opacity: 1;
}

.vehicle-status-list a:nth-child(1) { background-color: #B5B5B5; }
.vehicle-status-list a:nth-child(2) { background-color: #171717; }
.vehicle-status-list a:nth-child(3) { background-color: #808080; }
.vehicle-status-list a:nth-child(4) { background-color: #000; }
.vehicle-status-list a:nth-child(5) { background-color: #3B3B3B; }

.vehicle-status-list a img {
  width: 30%;
  margin: 2% 4%;
}

.vehicle-status-list a span {
  font-size: 30px;
}


.vehicle-single-details {
  display: none;
  margin-top: 15%;
}

.vehicle-single-details.active {
  display: block;
} 

.vehicle-single-details .big-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vehicle-single-details .big-label p {
  width: 47%;
}

.vehicle-single-details .big-label .label {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B5B5B5;
  height: 150px;
  margin: 0 .5%;
  border-radius: 40px;
  color: #fff;
  padding: 5px 50px;
}


.vehicle-single-details .big-label .label img {
  width: 30%;
  margin-right: 4%;
  margin-left: 4%;
}

.vehicle-single-details .big-label .label span {
  font-size: 30px;
}

.vehicle-single-details table {
  width: 100%;
  text-align: left;
  margin: 1% 2%;  
}

.vehicle-single-details th {
  padding: 10px;
  width: 22%;
}

.vehicle-single-details  tr:not(:nth-child(1))  {
  background-color: #fff;
}

.vehicle-single-details  tr {
  border-radius: 50px;
  display: block;
  margin-bottom: 10px;
}

.vehicle-single-details td {
  padding: 15px;
  font-family: "Toyota Display Regular";

}
.vehicle-single-details tr td:nth-child(1) {
  border-radius: 50px 0 0 50px;
  width: 30%;
}

.vehicle-single-details tr th:nth-child(1) {
  border-radius: 50px 0 0 50px;
  width: 30%;
}


.vehicle-single-details tr td:nth-child(3) {
  border-radius: 0 50px 50px 0 ;
  border: 0;
}


.vehicle-single-details  .dot {
  background-color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
}


.vehicle-single-details  .dot.green {
  background-color: green;
}
.vehicle-single-details  .dot.red {
  background-color: #B71D34;
}

.vehicle-single-details .dot.orange {
  background-color: orange;
}



.scroll-to-top {
  display: flex;
  justify-content: flex-end;
}


.scroll-to-top img {
  width: 10%;
  cursor: pointer;
}

