@media only screen and (max-width: 950px) {
    
    
    .container {
        width: 90%;
        margin: 2% auto;
      }
      
      .navbar {
        padding: 20px;
        display: flex;
        justify-content: space-between;
      }
      
      .navbar img {
        width: 30%;
      }
      
      
      
      .block-1 .main-block {
        border-radius: 55px; 
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10% 8%;
        display: flex;
        justify-content: space-between;
        box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
      }
      
      .block-1 .block-content {
        color: #fff;
      }
      
      .block-1 .block-content h1 {
        font-size: 40px; 
        margin: 10px 0 !important;
      }
      
      .block-1 .block-content p {
        font-size: 18px;
        font-weight: normal;
        width: 70%;
      }
      
      .block-1 .block-action {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
      
      .block-1 .block-action a {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
      }

      .block-1 .block-action img {
        width: 35%;
        opacity: .8;
        transition: all .5s ease-in-out;
        cursor: pointer;
        margin-right: 10%;
      } 
      
      .block-1 .block-action img:hover {
        opacity: 1;
      }
      
      
      
      .block-2 .main-block {
        margin: 80px 0 50px;
        display: flex;
        justify-content: space-between;
        border-radius: 50px;
        width: 100%;
        background-color: #B71D34;
        overflow: hidden;
        color: #fff;
        box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
      }
      
      
      .block-2 .main-block .custom-btn {
        width: 50%;
        padding: 2%;
        font-size: 23px;
        text-align: center;
        cursor: pointer;
      }
      
      .block-2 .main-block .custom-btn.active {
        background-color: #fff;
        color: #B71D34;
        border-radius: 50px;
      }
      
      
      
      
      
      /* BLOCK 3 */
      /* BLOCK 3 */
      /* BLOCK 3 */
      /* BLOCK 3 */
      /* BLOCK 3 */
      
      
      .block-3 .main-block  {
          display: flex;
          justify-content: space-between;
          padding: 30px;
          border-radius: 50px;
          box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
        }
        
        
        
.block-3 .gear-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 40%;

}

.block-3 .gear-note img {
  width: 100%;
} 

.block-3 .gear-note .note {
  background-color: #B71D34;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2vw ;
  border-radius: 20px;
  margin-right: 47%;
  margin-top: 20px;
}


.block-3 .block-content {
  background-image: url("../assets/images/02.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 60%;
}

        
        .block-3 .info-list-item {
          display: flex;
          align-items: center;
          width: 100%;
          margin: 20px 0;
          height: fit-content;
        }
        
        .block-3 .info-list-item .icon {
          margin-right: 20px;
          height: 30px;
          display: flex;
          justify-content: center;
          width: 20%;
        }
        
        .block-3 .info-list-item .icon img {
          height: 100%;
        }
        
        .block-3 .info-list-item span {
          width: 50%;
        }
        
        .block-3 .info-list-item .dot {
          background-color: #000;
          border-radius: 50%;
          width: 15px;
          height: 14px;
          margin-left: 30%;
        }
        
        
        .block-3 .info-list-item .dot.green {
          background-color: green;
        }
        .block-3 .info-list-item .dot.red {
          background-color: #B71D34;
        }
        
        .block-3 .result {
          color: #303C59;
        }





        
.block-3 .block-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%
  }
  
  .block-3 .block-footer p {
    width: 80%;
    font-size: 16px;
  }
  
  .block-3 .block-footer a {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .block-3 .block-footer img {
    width: 40%;
    filter: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
  }
  
  
  
  
  .block-4 .main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
    width: 100%;
  }
  
  .block-4 .custom-btn {
    width: 40%;
    padding: 10% 3% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242323;
    border-radius: 50px;
  }
  
  .block-4 .custom-btn.active {
    background-color: #B71D34;
  }
  
  .block-4 .custom-btn img {
    width: 40%;
  }
  
  .block-4 .custom-btn span {
    font-size: 3.5vh;
    margin-left: 2%;
  }
  

  /* BLOCK 5 */
  /* BLOCK 5 */
  /* BLOCK 5 */
  /* BLOCK 5 */
  /* BLOCK 5 */

  
  .block-5 .main-block {
    margin: 150px 0 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    background-color: #B71D34;
    overflow: hidden;
    color: #fff;
    box-shadow: rgb(0 30 37 / 9%) 0px 2px 4px 0px, rgb(0 30 37 / 32%) -20px 2px 16px 0px;
  }
  
  
  .block-5 .main-block .custom-btn {
    width: 50%;
    padding: 2%;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
  }
  
  .block-5 .main-block .custom-btn.active {
    background-color: #fff;
    color: #B71D34;
    border-radius: 50px;
  }
  

  .block-5 .main-block img {
    height: 40px;
  }


  .customer-details .main-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .customer-details .user-profile {
    width: 38%;
  }

  .customer-details .user-profile .profile-pic{
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10%;
  }

  .customer-details .user-profile .profile-pic img {
    width: 100%;
  }

  .customer-details .user-profile p {
    width: 100%;
  }

  .customer-details .welcome-msg {
    color: #B71D34;
    font-size: 40px;
  } 
  .customer-details .details {
    width: 60%;
  }

  .customer-details .details ul {
    margin-top: 20px;
  }

  .customer-details .details li {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    width: 100%;
    border-radius: 55px;
    margin-bottom: 3%;
  }

  .customer-details .details .item-left,
  .customer-details .details .item-right {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    width: 40%;
  }

  .customer-details .details li label {
    font-size: 18px;
  }

  .customer-details .details li span {
    font-size: 16px;
    letter-spacing: 3px;
    font-family: "Toyota Display Regular";
  }




    
  .vehicle-status p {
    width: 50%;
    font-size: 18px;
  }

  .vehicle-status-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .vehicle-status-list a {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    background-color: #242323;
    height: 150px;
    margin: 10px .5%;
    border-radius: 30px;
    color: #fff;
  }

  .vehicle-status-list a:nth-child(1) { background-color: #B5B5B5; }
  .vehicle-status-list a:nth-child(2) { background-color: #171717; }
  .vehicle-status-list a:nth-child(3) { background-color: #808080; }
  .vehicle-status-list a:nth-child(4) { background-color: #000; }
  .vehicle-status-list a:nth-child(5) { background-color: #3B3B3B; }

  .vehicle-status-list a img {
    width: 30%;
    margin-right: 4%;
    margin-left: 4%;
  }

  .vehicle-status-list a span {
    font-size: 30px;
  }

  .vehicle-single-details .big-label .label {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #B5B5B5;
    height: 180px;
    margin: 10px .5%;
    border-radius: 25px;
    color: #fff;
  }
    



  
  .vehicle-single-details .big-label p {
    width: 47%;
    font-size: 15px;
  }

  .vehicle-single-details .big-label .label span {
    font-size: 25px;
  }

}
    
    
    
    
    